
body {
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/psychic.jpeg");
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: tan;
}

div {
    background: black;
    width: 35%;
    height: 40%;
    padding: 30px 30px 10px;
    position: absolute;
    right: 0px;
    top: 12rem;
    border: 1px solid lightcoral;
}

h3 {
    font-size: 25px;
}

#computer-select {
    margin-right: 50px;
}
